- site = self['site']
- series = self['series']
- story = self['story']
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
%head
	%title
		- if series
			#{series.title} :: #{story.title}
		- else
			#{story.title}
%body
	- if self['bannertag']
		%img{:src => self['bannertag']}
	%h2= story.title
	- story.sections.each do |segment|
		#{segment.formattedContent}
</html>
