!!! strict
- site = self['site']
- fandom = self['fandom']
%html
	%head
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>#{site.title} :: #{fandom.title} :: fanfiction</title>
		<meta name="generator" content="The Dread Machine 0.1" />
		<link rel="stylesheet" rev="stylesheet" href="css/styles.css" />
		<link rel="alternate" type="application/atom+xml"  href="/feeds/recent.atom" />
	%body
		%div#nav
			- if fandom.idtag == 'the_thick_of_it'
				- img = 'css/malcolm_clara_header.jpg'
			- elsif fandom.idtag == 'btvs'
				- img = 'css/giles_header.jpg'
			- if img
				:sass
					#nav
						background-image: url(#{img})
			= self['_page'].include('navigation.haml', {'fandoms'=> self['fandoms'], 'loc'=>'all'})
			<h2 id="#{fandom.idtag}">#{fandom.title}</h2>
			%p= fandom.description
			<p>
			- if fandom.stories.size == 1
				1 story
			- else
				<p>#{fandom.stories.size} stories,
			totalling #{self['wordcount']} words. Stories are grouped by pairing.</p>

		%div#content
			- indexItems = fandom.indexItems
			- if indexItems.size > 10
				<div id="fandomlisting">
			- if indexItems.size > 0
				- lastpairing = indexItems[0].pairing_main.downcase
				- indexItems.each do |item|
					- if lastpairing != item.pairing_main.downcase
						<hr class="lightrule" />
						- lastpairing = item.pairing_main.downcase
					- if item.class.name == "Series"
						%p.story_summary
							<a id="#{item.idtag}" href="#{item.url()}" title="Tags: #{item.taglist()}">
							<i>#{item.title}</i></a> - #{item.printablePairing}<br>
							#{item.summary}
							- if item.stories.size == 1
								<i>1 story.</i>
							- else
								<i>#{item.stories.size} stories.</i>
					- else
						= self['_page'].include('story_blurb.haml', {'story'=>item, 'absoluteUrl' => true})
			- if indexItems.size > 10
				</div>

			<hr />
			%p
				<small><a href="acknowledgments.html">Credits, acknowledgments, and disclaimers.</a></small>
		= self['_page'].include('tracking.haml', {})
