- prefix = ''
- if 'story' == self['loc']
	- prefix = '../'
<a href="#{prefix}index.html"><b>Antennapedia</b></a>
| <a href="#{prefix}all.html">all stories</a> 
| <a href="#{prefix}pairings.html">by pairing</a> 
| <a href="#{prefix}tags.html">by tags</a> 
| <a href="#{prefix}new.html">newest stories</a><br />
