!!! strict
- series = self['series']
- site = self['site']
%html
	%head
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>#{site.title} :: #{series.title} - #{series.printablePairing}</title>
		<meta name="generator" content="The Dread Machine 0.1" />
		<link rel="stylesheet" rev="stylesheet" href="../css/styles.css" />
		<link rel="alternate" type="application/atom+xml"  href="/feeds/recent.atom" />
		- if series.banner != nil && series.banner.width != nil
			- width = Integer(series.banner.width)
			- pad = 20 + width
			- w = 880 - width
			- h = 10 + Integer(series.banner.height)
			%style{:type => "text/css"}
				:sass
					#nav
					  background-image: url(#{series.banner.url})
					  background-repeat: no-repeat
					  background-color: black
					  color: white
					  position: relative
					  padding: 10px 10px 10px #{pad}px
					  width: #{w}px
					  min-height: #{series.banner.height}px
	%body
		%div#nav
			= self['_page'].include('navigation.haml', {'fandoms'=> self['fandoms'], 'loc'=>'story'})
			<br />
			<h2 id="#{series.idtag}">#{series.title}</h2>
			<p>#{series.summary} <i>#{self['wordcount']} words total.</i></p>
		%div#content
			- series.storiesInOrder.each do |story|
				= self['_page'].include('story_blurb.haml', {'story'=>story})
		
			%p
				<a href="#{series.printableurl()}">All parts in one printable page.</a><br />
				<a href="#{series.epuburl()}">Entire series as an Epub document for e-book readers.</a>

			<hr />
			%p
				<small><a href="acknowledgments.html">Credits, acknowledgments, and disclaimers.</a></small>
		= self['_page'].include('tracking.haml', {})

	
