- story = self['story']

"#{story.title}"<br />  
#{story.printablePairing}<br />  
- if story.warnings
	#{story.rating}, #{story.warnings}<br />  
- else
	#{story.rating}<br />   

*#{story.summary}*<br />  

<!-- more -->

***

- story.sections.each do |segment|
	- if story.sections.size > 1
		\### #{segment.title}
	#{segment.content}

- if story.notes

	***
	
	#{story.notes}
