- story = self
- if story.fandoms.size > 1
	<b>Fandoms:</b>
	- story.fandoms.each do |f|
		= f.title
	<br>
- if story.fandoms.size == 1
	<b>Fandom:</b> #{story.fandoms.first.title}<br>
- if story.summary
	%b Summary:
	= story.summary
	<br>
- if story.rating
	<b>Rating:</b> #{story.rating}<br>
- if story.notes
	<b>Notes:</b> #{story.notes}<br>
- if story.warnings
	<b>Warnings:</b> #{story.warnings}<br>

<hr class="lightrule" />
- story.sections.each do |segment|
	- if story.sections.size > 1
		%h3{ :id => segment.idtag}= segment.title
	#{segment.formattedContent}
